.place-form {
  width: 100%;
  border: 3px solid var(--tertiary);
  margin-top: 5rem;
  padding: 4rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
