.main-navigation {
  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 0.75em 1.5em;
    color: var(--white);
    font-size: 1.6rem;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-bottom: 2px solid var(--white);
    }
  }

  &__item--login {
    border: 2px solid var(--white);
    border-radius: 1rem;

    &:hover {
      background: var(--white);
      color: var(--tertiary);
      border: 2px solid var(--tertiary);
    }
  }
}

.active {
  border-bottom: 2px solid var(--white);
}
